body{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    width: 100%;
}

section{
    align-items: center;
    background-color: grey;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    width: 500px;
}

section #botoes{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    width: 80%;
}

button{
    background-color: rgb(21, 129, 21);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14pt;
    height: 50px;
    width: 150px;
}

button:hover{
    background-color: rgb(18, 105, 18);

}

section #cronometro{
    color: white;
    font-size: 26pt;
    font-weight: bold;
    padding: 20px;
    display: inline-block;
    width: 200px;
    margin-top: 60px;
    max-width: 100%;

}